**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.lb

**/*.bbl
**/*.bcf
**/*.blg
**/*-blx.aux
**/*-blx.bib
**/*.run.xml

**/*.synctex.gz
**/*.synctex.gz(busy)
**/*.synctex
**/*.synctex(busy)
**/*.fdb_latexmk
report.pdf

.nvim.lua
